{% extends "layout.html" %}
{% block content %}
<div style="margin-top: 10em;">
    <h1 style="display: flex; justify-content: center; font-weight: 400;">Alcoholics</h1>
    <div class="button-container">
        <a class="btn btn-secondary btn-lg main-button" href="alcoholic_queries.html">
            Queries
        </a>
    </div>

    <div class="button-container">
        <a class="btn btn-secondary btn-lg main-button" href="find_alcoholic.html">
            Find alcoholics
        </a>
    </div>
</div>
{% endblock %}