{% extends "layout.html" %}
{% block content %}

<div>
    <h1 style="margin-top: 2em; display: flex; justify-content: center; font-weight: 400;">Queries</h1>
</div>
<div style="margin-top: 2em; margin-left: 14em;" id="inputs">

    <button type="button" class="btn btn-secondary btn-lg main-button" style="background-color: #3f3f3f !important; border-color: #69625c !important;" name="a,n,t" onClick="display_inputs(this.name)">
        For alcoholic A find all inspectors that dragged him into Vytvereznyk at least N times during given time period
    </button>

    <button type="button" class="btn btn-secondary btn-lg main-button" style="background-color: #3f3f3f !important; border-color: #69625c !important;" name="a,t" onClick="display_inputs(this.name)">
        For alcoholic A find all beds in Vytvereznyk, where he has lain during given time period
    </button>

    <button type="button" class="btn btn-secondary btn-lg main-button" style="background-color: #3f3f3f !important; border-color: #69625c !important;" name="a,t" onClick="display_inputs(this.name)">
        For alcoholic A find all beds in Vytvereznyk, from which he escaped during given time period
    </button>

    <button type="button" class="btn btn-secondary btn-lg main-button" style="background-color: #3f3f3f !important; border-color: #69625c !important;" name="a" onClick="display_inputs(this.name)">
        For alcoholic A find all inspectors that dragged him into Vytvereznyk more times than let free
    </button>

    <button type="button" class="btn btn-secondary btn-lg main-button" style="background-color: #3f3f3f !important; border-color: #69625c !important;" name="a,n,t" onClick="display_inputs(this.name)">
        For alcoholic A and every drink he took find how many times during given time period he drank the drink in a group of at least N of his buddies
    </button>

    <button type="button" class="btn btn-secondary btn-lg main-button" style="background-color: #3f3f3f !important; border-color: #69625c !important;" name="a" onClick="display_inputs(this.name)">
        Find drinks in descending order of the number of alcoholics that drank the drink with alcoholic A during given time period
    </button>

    <button type="button" class="btn btn-secondary btn-lg main-button" style="background-color: #3f3f3f !important; border-color: #69625c !important;">
        <a href="alcoholic_queries_output.html">
            Find the most hardworking alcoholic
        </a>
    </button>

    <button type="button" class="btn btn-secondary btn-lg main-button" style="background-color: #3f3f3f !important; border-color: #69625c !important;">
        <a href="alcoholic_queries_output.html">
            Find alcoholics that did not work at all
        </a>
    </button>

    <button type="button" class="btn btn-secondary btn-lg main-button" style="background-color: #3f3f3f !important; border-color: #69625c !important;">
        <a href="alcoholic_queries_output.html">
            Find the most popular job among alcoholics
        </a>
    </button>
</div>

<script>
        var br = document.createElement("br"); 
        function display_inputs(name) 
        {                
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/alcoholic_queries_output.html");
            
            if (name.includes("a"))
            {
                var alc = document.createElement("input");
                alc.setAttribute("type", "text");
                alc.setAttribute("name", "alc");
                alc.setAttribute("placeholder", "Enter alcoholic");
                form.appendChild(alc); 
                form.appendChild(br.cloneNode()); 
            }
            
            if (name.includes("n"))
            {
                var times = document.createElement("input");
                times.setAttribute("type", "text");
                times.setAttribute("name", "times");
                times.setAttribute("placeholder", "Enter N times");
                form.appendChild(times); 
                form.appendChild(br.cloneNode()); 
            }
        
            if (name.includes("t"))
            {
                var start = document.createElement("input");
                start.setAttribute("type", "text");
                start.setAttribute("name", "start_date");
                start.setAttribute("placeholder", "Enter start date");
            
                var end = document.createElement("input");
                end.setAttribute("type", "text");
                end.setAttribute("name", "end_date");
                end.setAttribute("placeholder", "Enter end date");

                form.appendChild(start); 
                form.appendChild(br.cloneNode());

                form.appendChild(end); 
                form.appendChild(br.cloneNode()); 
            }
        
            var s = document.createElement("input");
            s.setAttribute("type", "submit");
            s.setAttribute("value", "Submit");
            form.appendChild(s); 

            document.getElementsByTagName("body")[0]
            .appendChild(form);
        }
</script>
{% endblock %}