{% extends "layout.html" %}
{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}


<div style="margin-top: 2em; margin-left: 5em; text-align:center;">




    <form action="#" method = "post">
        <p>Columns of table {{table}}:</p>
        <p>{{", ".join(cols)}}</p>
        <textarea name="input_row" rows="1" cols="100"></textarea>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}