{% extends "layout.html" %}
{% block content %}

<div style="margin-top: 2em; margin-left: 35em; max-width: 500px; text-align:center;">
    <form action="#" method="POST">
        <p>Table name:</p>

        <select name="table_name" class="form-control">
            {% for table in tables %}
                <option >{{ table }}</option>
            {% endfor %}
        </select>

        <p>Edit type:</p>
        <select name="edit_type" class="form-control">
            <option>insert</option>
            <option>delete</option>
        </select>

        <p><input type="submit"  value="Submit" /></p>
    </form>

</div>

{% endblock %}