{% extends "layout.html" %}
{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}


<div style="margin-top: 2em; margin-left: 35em; max-width: 500px; text-align:center;">
    <form action="#" method = "post">
        <p>Index to delete:</p>
        <p><input type="text" name="table_index"/></p>
        <p><input type="submit" value="Submit"/></p>

    </form>
</div>

{% endblock %}
