{% extends "layout.html" %}
{% block content %}
<div style="background-image: url('https://i.pinimg.com/originals/bf/56/3c/bf563c11771025ca4189b5050295cfe7.jpg'); background-position: center;
    background-size: cover; height: 46rem">
    <div class="menu_container">
      <div class="button-container">
          <a class="btn btn-secondary btn-lg main-button" href="queries.html">
              Queries
          </a>
      </div>

      <div class="button-container">
          <a class="btn btn-secondary btn-lg main-button" href="alcoholics.html">
              Alcoholics
          </a>
      </div>
      <div class="button-container">
          <a class="btn btn-secondary btn-lg main-button" href="inspectors.html">
              Inspectors
          </a>
      </div>
      <div class="button-container">
        <a class="btn btn-secondary btn-lg main-button" href="edit.html">
            Edit the database
        </a>
      </div>
    </div>

</div>
{% endblock %}