{% extends "layout.html" %}
{% block content %}

<div>
    <h1 style="margin-top: 2em; display: flex; justify-content: center; font-weight: 400;">Queries</h1>
</div>
<div style="margin-top: 2em; margin-left: 14em;" id="inputs">

    <button type="button" class="btn btn-secondary btn-lg main-button" style="background-color: #3f3f3f !important; border-color: #69625c !important;" name="i,n,t" onClick="display_inputs(this.name)">
        For inspector I find all alcoholics that he dragged into Vytvereznyk at least N times during given time period
    </button>

    <button type="button" class="btn btn-secondary btn-lg main-button" style="background-color: #3f3f3f !important; border-color: #69625c !important;" name="i, t" onClick="display_inputs(this.name)">
        Find beds in Vytvereznyk in descending order of the number of loss of consciousness for all alcoholics that was drugged into bed by inspector I during given time period
    </button>

    <button type="button" class="btn btn-secondary btn-lg main-button" style="background-color: #3f3f3f !important; border-color: #69625c !important;">
        <a href="inspector_output.html">
            Find the top of most corrupted inspectors
        </a>
    </button>

</div>

<script>
    var br = document.createElement("br"); 
    function display_inputs(name) 
    {                
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/inspector_output.html");
        
        if (name.includes("i"))
        {
            var ins = document.createElement("input");
            ins.setAttribute("type", "text");
            ins.setAttribute("name", "ins");
            ins.setAttribute("placeholder", "Enter inspector");
            form.appendChild(ins); 
            form.appendChild(br.cloneNode()); 
        }
        
        if (name.includes("n"))
        {
            var times = document.createElement("input");
            times.setAttribute("type", "text");
            times.setAttribute("name", "times");
            times.setAttribute("placeholder", "Enter N times");
            form.appendChild(times); 
            form.appendChild(br.cloneNode()); 
        }
    
        if (name.includes("t"))
        {
            var start = document.createElement("input");
            start.setAttribute("type", "text");
            start.setAttribute("name", "start_date");
            start.setAttribute("placeholder", "Enter start date");
        
            var end = document.createElement("input");
            end.setAttribute("type", "text");
            end.setAttribute("name", "end_date");
            end.setAttribute("placeholder", "Enter end date");

            form.appendChild(start); 
            form.appendChild(br.cloneNode());

            form.appendChild(end); 
            form.appendChild(br.cloneNode()); 
        }
    
        var s = document.createElement("input");
        s.setAttribute("type", "submit");
        s.setAttribute("value", "Submit");
        form.appendChild(s); 

        document.getElementsByTagName("body")[0]
        .appendChild(form);
    }
</script>

{% endblock %}
