{% extends "layout.html" %}
{% block content %}

<div>
    <h1 style="margin-top: 2em; display: flex; justify-content: center; font-weight: 400;">*Alcoholic's name*</h1>
    <h2> Here should be an output of the found data </h2>
</div>

<script>

    function display_buttons()
    {
        query_one = 'Find all inspectors that dragged the alcoholic into Vytvereznyk at least N times during given time period';
        query_two = 'Find all beds in Vytvereznyk, where the alcoholic has laid during given time period';
        query_three = 'Find all beds in Vytvereznyk, from which the alcoholic escaped during given time period';
        query_four = 'Find all inspectors that dragged the alcoholic into Vytvereznyk more times than let free';
        query_five = 'For all such drinks, find how many times during given time period the alcoholic drank the drinks in a group of at least N of his buddies';
        // [alcoholic,n times,time] = [1,1,1]
        let queries = [[query_one, [1,1,1]], [query_two, [1,0,1]], [query_three, [1,0,1]], [query_four, [1,0,0]], [query_five, [1,1,1]]];
        const div = document.createElement('div');
        var form = document.createElement("form");

        for (let i = 0; i < queries.length; i++)
        {
            let btn = document.createElement("button");
            btn.innerHTML = queries[i][0];
            btn.type = "submit"
            document.body.appendChild(btn);
            btn.style.backgroundColor = "#3f3f3f";
            btn.style.borderColor = "#69625c";
            btn.style.color = "#fff";
            btn.name = "find_query_button";
            btn.value = i;
            div.appendChild(btn);

            const currentDiv = document.getElementById("inputs");
            div.style.display = "flex";
            div.style.justifyContent = "center";
            form.setAttribute("method", "post");
            form.setAttribute("action", "/find_alcoholic_queries_output.html");
            form.appendChild(div);
            document.body.insertBefore(form, currentDiv);
        }
    }

    display_buttons();
</script>
{% endblock %}